.app__body {
  align-items: center;
  background-color: grey;
  background-image: url('../imgs/stonks-768x539.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.BRL__smallgap {
  margin-left: 5px;
}

.header__useremail {
  font-size: large;
  margin-bottom: 10px;
}

.button__form {
  align-self: center;
  display: flex;
}
